* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://images.pexels.com/photos/7130532/pexels-photo-7130532.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  text-transform: capitalize;
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 30px auto;
}
.header h1 {
  font-weight: bold;
  text-align: center;
  color: #3e4a60;
}
.cards-container {
  width: 100%;
  height: 100vh;
  max-height: 70vh;

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.card1 {
  background-color: #9ea5ff;
  width: 100%;
  max-width: 15vw;
  height: 100%;
  max-height: 50vh;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 8px black;
}
.card1:hover {
  box-shadow: 0px 10px 15px black;
}
.card1 h4 {
  align-self: center;
  color: #3e4a60;
  font-weight: bold;
  margin-bottom: 15px;
}
.card1 h1 {
  color: #3e4a60;
}
.card1 p {
  margin: 15px auto;
  font-weight: bolder;
  color: #3e4a60;
}
.card1 button {
  padding: 7px;
  border-radius: 10px;
  border-style: none;
  width: 10vw;
  cursor: pointer;
  color: white;
}
.card1 button a {
  text-decoration: none;
  color: #3e4a60;
  font-weight: bolder;
  cursor: pointer;
}
.card2 {
  background-color: #777ee0;
  color: white;
  width: 100%;
  max-width: 18vw;
  height: 100%;
  max-height: 60vh;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 8px black;
}
.card2 .h4 h4 {
  align-self: center;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: bold;
}
.card2 h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bolder;
}
.card2 p {
  margin: 15px auto;
  font-weight: bolder;
}
.card2 button {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  width: 15vw;
  cursor: pointer;
}
.card2 button a {
  text-decoration: none;
  color: #3e4a60;
  font-weight: bold;
}
.card2:hover {
  box-shadow: 0px 10px 15px black;
}

.card3 {
  background: url(https://static.vecteezy.com/system/resources/thumbnails/023/780/648/small/seamless-blurred-yellow-colors-gradient-abstract-design-background-texture-illustration-graphic-template-for-banner-presentation-wallpaper-backdrop-free-vector.jpg);
  width: 100%;
  max-width: 15vw;
  height: 100%;
  max-height: 50vh;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 8px black;
}
.card3 h4 {
  align-self: center;
  color: #3e4a60;
  margin-bottom: 15px;
}
.card3 h1 {
  color: #3e4a60;
}
.card3 p {
  margin: 15px auto;
  font-weight: bolder;
  color: #3e4a60;
}
.card3 button {
  padding: 7px;
  width: 10vw;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.card3 button a {
  text-decoration: none;
  font-weight: bold;
  color: #3e4a60;
}
.card3:hover {
  box-shadow: 0px 10px 15px black;
}

